.homeContainer {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 2rem auto;
  }
  
  .homeContainer h1 {
    font-size: 2.5rem;
    color: #007BFF;
    margin-bottom: 1rem;
  }
  
  .homeContainer p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
  }
  .intro {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  
  .profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }